.grid {
    width: 1004px;
    margin: 0 auto;
}
/* aqui estou criando um estilo para o H2 que esta dentro do header, que esta dentro da classe .exemplo*/

.statistics header h2 {
    text-align: center;
    padding: 40px 0 40px;
    background: url("../img/hr-emp-emp.png") center bottom no-repeat;
    margin-bottom: 40px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
.nos-container {
    margin-right: -24px;
    margin-bottom: 30px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
.nos {
    display: inline-block;
    font-size: 15px;
    color: #575b60;
    width: 310px;
    text-transform: uppercase;
    background: #f5f3f3;
    border: 1px solid #d8d9db;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    margin-right: 24px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px #fff;
    -webkit-box-shadow: 0 1px #fff;
    box-shadow: 0 1px #fff;
}
.nos .no {
    color: #2E9DF7;
    font-size: 39px;
    margin-bottom: 15px;
    border-bottom: 1px solid #c9c9c9;
    padding-bottom: 10px;
}
.no-3 {
    margin-right: 0;
}
.small {
    font: 16px/24px Georgia, serif;
    color: #aaa9a9;
    text-align: center;
    font-size: 13px;
    line-height: 15px;
}
